<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="AzureBlobConnectionString" value =""/>
  <add key="AzureContainerReference" value=""/>

  <add key="EasdbConnectionString" value="data source=(local);initial catalog=Easdb;integrated security=True;multipleactiveresultsets=True;Connect Timeout=90" />

</appSettings>

